<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="modal" id="updateModal" th:fragment="update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>修改用户</h3>
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/updateUser}" id="updateForm">
                        <input type="hidden" id="update_id" name="update_id"/>
                        <input type="text" id="update_username" />
                        <div class="col-xs-2" style="margin-top:7px;">
                            <label class="control-label col-xs-1" for="excelhead">表头权限</label>
                            <input type="hidden" id="selectHeads" name="selectHeads" />
                            <select id="excelhead" class="selectpicker" style="width:150px" multiple="multiple">
                                <optgroup label="座便器、小便器、妇洗器、柱盆">
                                    <option th:each ="head : ${heads}"
                                           th:value="${head.id}"
                                           th:text ="${head.name}">
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="row  mx-0 justify-content-center ">
                            <button class="btn btn-primary form-control" type="button" onclick="postUpdate()">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:fragment="postUpdate">
    function getUpdateInfo(index){
        var data = JSON.stringify($("#userInfoTable").bootstrapTable('getData')); //获取全部数据
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        //根据index找到对应行数据，填充数据到修改模态框
        $("#update_id").val(data_json[index].id);
        $("#update_username").val(data_json[index].username);

        $.ajax({
            type:"GET",
            url:"/getUserExcelHeads",
            data:{"userId":data_json[index].id},
            success:function(response){
                $("#excelhead option").each(function(){
                    $(this).attr("selected",false);
                });
                $('#excelhead option').each(function () {
                    if (response.indexOf(','+this.value+',')!=-1)
                        this.selected=true;
                    else
                        this.selected=false;
                });
                $('#excelhead').selectpicker('refresh');
            }
        });
        $('#updateModal').modal('show');
    }

    function postUpdate(){
        $("#selectHeads").val($('#excelhead').val());
        $("#updateForm").submit();
    }
</script>
</html>